<nav>
  <a href="/Home">
    <img class="logo" src="/images/carmatch_Logo.png" alt="Logo CarMatch" />
  </a>

  <div class="hamburger">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>

  <section class="navbutton">
    <% if(isLoggedIn) { %>
    <a href="https://www.example.com"
      ><img src="/images/bookmark.png" alt="Lijst"
    /></a>
    <a href="/user"
      ><img class="userimg" src="/images/user.png" alt="Gebruiker"
    /></a>
    <% }else{ %>
    <a class="loginbutton" href="/loginpagina">Login</a>
    <% } %>
  </section>
</nav>
