<nav>
  <a href="/Home">
    <img class="logo" src="/images/carmatch_Logo.png" alt="Logo CarMatch" />
  </a>

  <section class="nav_buttons">
    <% if(isLoggedIn) { %>
    <a href="/user"
      ><img class="user_img" src="/images/user.png" alt="user"
    /></a>
    <% }else{ %>
    <a class="nav_buttons_login" href="/login">Login</a>
    <% } %>
  </section>
</nav>
