<nav>
  <a href="https://www.example.com">
    <img class="logo" src="/images/carmatch_Logo.png" alt="Logo CarMatch" />
  </a>

  <div class="hamburger">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>

  <section class="navbutton">
    <a href="https://www.example.com">Lijst</a>
    <a href="https://www.example.com">Nieuwe lijst</a>
    <a class="loginbutton" href="https://www.example.com">Account</a>
  </section>
</nav>
