<nav>
  <a href="/Home">
    <img class="logo" src="/images/carmatch_Logo.png" alt="Logo CarMatch" />
  </a>

  <div class="hambuger_menu">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>

  <section class="nav_buttons">
    <% if(isIngelogd) { %>
    <a href="https://www.example.com"
      ><img src="/images/bookmark.png" alt="Lijst"
    /></a>
    <a href="/user"
      ><img class="user_img" src="/images/user.png" alt="Gebruiker"
    /></a>
    <% }else{ %>
    <a class="nav_buttons_login" href="/loginpagina">Login</a>
    <% } %>
  </section>
</nav>
