<nav>
  <a href="https://www.example.com">
    <img
      class="logo"
      src="/assets/images/carmatch_Logo.png"
      alt="Logo CarMatch"
    />
  </a>

  <section class="navbutton">
    <a href="https://www.example.com">Lijst</a>
    <a href="https://www.example.com">Lijstb</a>
    <a href="https://www.example.com">Lijstc</a>
  </section>
</nav>
