<!DOCTYPE html>
<html lang="en">
  <title>CarMatch</title>

  <head>
    <%- include ('partials/head.ejs') %>
  </head>

  <body>
    <header><%- include ('partials/header.ejs') %></header>
    <main class="index_main">
      <article>
        <h2>Vind hier jouw auto!</h2>

        <fieldset>
          <legend>De CarMatch zoekmachine</legend>
          <section>
            <label for="car-type">Soort auto?</label>
            <select name="car-type" id="car-type">
              <option value="#">--Soort auto--</option>
              <option value="Sedan">Sedan</option>
              <option value="Hatchback">Hatchback</option>
              <option value="SUV">SUV</option>
              <option value="Convertible">Convertible</option>
              <option value="Pickup">Pickup</option>
              <option value="Van/Minivan">Van/Minivan</option>
              <option value="Wagon">Wagon</option>
            </select>

            <label for="car-brand">Welk merk spreekt je aan?</label>
            <select name="car-brand" id="car-brand">
              <option value="#">--Merk--</option>
              <option value="Audi">Audi</option>
              <option value="BMW">BMW</option>
              <option value="Ford">Ford</option>
              <option value="FIAT">Fiat</option>
              <option value="Honda">Honda</option>
              <option value="Hyundai">Hyundai</option>
              <option value="Jeep">Jeep</option>
              <option value="Kia">Kia</option>
              <option value="MAZDA">Mazda</option>
              <option value="Mercedes-Benz">Mercedes-Benz</option>
              <option value="Toyota">Toyota</option>
              <option value="Volvo">Volvo</option>
              <option value="Volkswagen">Volkswagen</option>
            </select>
          </section>

          <form action="/carlist" method="get">
            <button id="searchButton" class="button_whiteborder" type="submit">
              Vind auto
            </button>
          </form>
        </fieldset>
      </article>

      <article>
        <h2>CarMatch</h2>
        <p>
          Welkom bij CarMatch! Ben je op zoek naar een auto, maar heb je geen
          idee waar te beginnen? Maak je geen zorgen! Met onze eenvoudige
          zoekfunctie kun je gemakkelijk de auto vinden die bij jouw voorkeuren
          past, zonder enige kennis van auto's.
        </p>

        <p>
          Kies tussen een van de vele merken en kies een type auto die bij jou
          past. Onze zoekfunctie zal je vervolgens een lijst geven van auto's
          die aan jouw criteria voldoen. Of je nu op zoek bent naar een compacte
          stadsauto of een grote gezinswagen, CarMatch helpt jou zoeken!
        </p>

        <p>
          Begin nu met zoeken en ontdek hoe gemakkelijk het kan zijn om jouw
          perfecte auto te vinden. Onze website is ontworpen om het zoeken van
          een auto leuk en eenvoudig te maken, zelfs als je geen enkele kennis
          hebt van auto's. Probeer het nu en laat ons jou helpen bij het vinden
          van de auto van jouw dromen!
        </p>
      </article>
    </main>

    <footer><%- include ('partials/footer.ejs') %></footer>
  </body>
  <%- include ('script.ejs') %>
</html>
