<!DOCTYPE html>
<html lang="en">
  <title>Log in</title>

  <head>
    <%- include ('partials/head.ejs') %>
  </head>

  <body>
    <header><%- include ('partials/header.ejs') %></header>
    <main class="mainlogin">
      <article>
        <form class="login-form">
          <h2>Inloggen</h2>
          <input
            type="text"
            placeholder="Gebruikersnaam"
            name="username"
            required
          />
          <input
            type="password"
            placeholder="Wachtwoord"
            name="password"
            required
          />
          <button type="submit">Inloggen</button>
        </form>
      </article>
    </main>

    <footer><%- include ('partials/footer.ejs') %></footer>
  </body>
  <%- include ('partials/script.ejs') %>
</html>
